<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title>Document</title>
</head>
<body>
    <template id="network-template">
        <a href="#" onclick="return false;">
            <div id="network" class="network"></div>
        </a>
    </template>

    <div id="content" class="content">

    </div>

    <!-- <div id="content" class="content">
        <a href="#" onclick="return false;">
            <div id="network" class="network">testd</div>
        </a>
        <a href="#" onclick="return false;">
            <div id="network" class="network">DIRECT-3D-HP</div>
        </a>
        <a href="#" onclick="return false;">
            <div id="network" class="network">Atlastek</div>
        </a>
        <a href="#" onclick="return false;">
            <div id="network" class="network">TFI</div>
        </a>
        <a href="#" onclick="return false;">
            <div id="network" class="network">DitravoCorp</div>
        </a>
        
    </div> -->

    <script src="../static/home.js"></script>
    <script src="../static/websocket.js"></script>
</body>
</html>